<%- include('../partials/header') %>
<h1>THIS IS WHERE YOU EDIT A COMMENT</h1>

<form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
    <!-- Value attribute is being set to the comment's current text -->
    <input name="text" value="<%= comment.text %>">
    <button type="submit">UPDATE COMMENT</button>
  </form>











<%- include('../partials/footer') %>