/* Bring in google font */
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
  font-family: 'Jost', sans-serif;
}

html, body {
  height: 100%;
}


.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

/* LOGIN STYLING */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

/* MY STYlING ============================================== */

/* utility classes aka classes used pretty often */

a{
  text-decoration: none;
  color: black;

}

a:hover{
  opacity: 0.6;
  text-decoration: none;
}

nav {
  display: flex !important;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  opacity: 70%;
  background: lightgrey;
  height: 10%;
  text-shadow: 2px 1px 0 white;
}
#nav-bar-2 {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background: lightgrey;
  height: 10%;
  color: black;
  width: 100vw;
}

#index-row img{
  height: 270px;
  width: 300px;
}

#hero-button-div {
  margin-top: 4%;
}

#hero-link-a{
  /* display: inline-block; */
  background: black;
  color: white;
}


/* main hero image on index page */
#hero {
  height: 100vh;
  position: relative;
  background: url('/images/union1wcityinback.jpeg') no-repeat center center/cover;
  margin-bottom: 50px;
}

#hero-content{
  display: flex;
  flex-direction: column;
  height: 60%;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#welcome {
  text-shadow: 1px 1px 0 lightgrey;
  color: black;
}

#hero-subtext{
  /* font-weight: 700;
  color: white; */
  /* color: lightgrey; */
  color: black;
  text-shadow: 1px 1px 0 lightgrey;
}




/* show page stuff */
#container-show{
  height: 100vh;
  margin-top: 6%;
}


#sneaker-image{
  width: 65%;
}

#description {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  height: 25%;
  padding: 10px;
  width: 65%;
  background: linear-gradient(to right, black, lightgrey);
  color: white;
}

#community-talks {
  margin-bottom: 7%;
}

#copordrop{
  width: 105%;
  /* padding: 30px; */
  border-spacing: 15px;
}

th, thead{
  font-weight: bold;
}

#show-row{
  height: 100vh;
}


/* index page styles */

#index-container {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */

}

#upcoming-releases {
  text-align: center;
  margin-bottom: 10%;
  height: 50%;
  /* width: 945px; */
}

nav h1 {
  font-size: 45px;
  font-style: italic;
  color: black;
}

#span-talk {
  color: lightslategray;
}



/* user comment image */
.comment-user img{
  border-radius: 50%;
  height: 60px;
}







/* FOOTER STYLES */

#show-footer {
  display: flex;
  background: lightgrey;
  justify-content: center;
  align-items: center;
  height: 7%;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 5%;
}


/* JAVASCRIPT UTILITY STYLES */
/* #update-comment-form{
  display: none;
}

.display{
  display: block;
} */


/* mobile styling */

@media(max-width: 786px){

  /* index page */
  #welcome{
    font-size: 30px;
  }

  #hero-subtext{
    font-size: 22px;
  }


  /* show page stuff */
  #column-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
    /* height: 100vh; */
  }
  #column-show-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
    height: 100vh;
  }

  #sneaker-image{
    width: 100%;
  }

  #description{
    width: 100%;
  }

  table {
    table-layout: fixed;
    overflow-x: auto;
    display: block;
    width: auto;
  }
  
  td{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px !important;
  }

  /* footer mobile */
  #content-wrapper{
    padding-bottom: 100px;
  }

  #show-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;


  }




}

