/* Bring in google font */
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
  font-family: 'Jost', sans-serif;
}

html, body {
  height: 100%;
}


.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

/* LOGIN STYLING */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

/* MY STYlING ============================================== */

/* utility classes aka classes used pretty often */

a{
  text-decoration: none;
  color: black;

}

a:hover{
  opacity: 0.6;
}

nav {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  opacity: 70%;
  background: lightgrey;
  height: 10%;
  text-shadow: 2px 1px 0 white;
}
#nav-bar-2 {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background: lightgrey;
  height: 10%;
  color: black;
}

#index-row img{
  height: 270px;
  width: 300px;
}

#hero-button-div {
  margin-top: 4%;
}

#hero-link-a{
  /* display: inline-block; */
  background: black;
  color: white;
}


/* main hero image on index page */
#hero {
  height: 100vh;
  position: relative;
  background: url('/images/union1wcityinback.jpeg') no-repeat center center/cover;
  margin-bottom: 50px;
}

#hero-content{
  display: flex;
  flex-direction: column;
  height: 60%;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#hero-subtext{
  /* font-weight: 700;
  color: white; */
}




/* show page stuff */
#container-show{
  height: 100vh;
  margin-top: 6%;
}

#column-show{
  height: 80vh;
}

#sneaker-image{
  width: 65%;
}

#description {
  margin-top: 65px;
  height: 25%;
  padding: 10px;
  width: 65%;
  background: linear-gradient(to right, black, lightgrey);
  color: white;
}

#community-talks {
  margin-bottom: 7%;
}

#copordrop{
  width: 105%;
  /* padding: 30px; */
  border-spacing: 15px;
}

th, thead{
  font-weight: bold;
}

#show-row{
  height: 100vh;
}


/* index page styles */

#index-container {
  height: 100vh;
}


#upcoming-releases {
  text-align: center;
  margin: 0;
  height: 15%;
}

nav h1 {
  font-size: 45px;
  font-style: italic;
}

#span-talk {
  color: lightslategray;
}



/* user comment image */
.comment-user img{
  border-radius: 50%;
  height: 60px;
}



footer {
  display: flex;
  background: lightgrey;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  height: 7%;
}